{% extends "home.html" %}

{% load static %}

{% block contenido %}

<div class="serie-container">

    {% if listadonetflix %}

    <div class="serie-list">

        <div class="serie-title-netflix-list">
            <h1>Lista de Netflix</h1>
        </div>

        {% for series in listadonetflix %}

        <div class="serie-object-container">
            <div class="serie-object">
                <img class="serie-object-img" width="400px" height="300px" src="{{ series.photo }}" alt="">
                <div class="serie-object-data">
                    <h5>{{ series.title }}</h5>
                    <p>IMDB {{ series.qualification }}</p>
                </div>
                <div class="lista-buttons">
                    <a href="{% url 'editarserienetflix' series.id %}"><button class="edit-button">Editar</button></a>
                    <a href="{% url 'eliminarserienetflix' series.id %}"><button class="delete-button">Eliminar</button></a>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>

    {% else %}
    
    <div class="noresults">
        <h2>NO SE ENCONTRARON SERIES DE NETFLIX</h2>
    </div>
    
    {% endif %}

    <div class="serie-button">
        <a href="{% url 'netflixform' %}"><button>Agregar</button></a>
        <a href="{% url 'busquedanetflix' %}"><button>Buscar</button></a>
    </div>
</div>

{% endblock %}