{% extends "home.html" %}

{% load static %}

{% block contenido %}

<div class="serie-container">
    
    <div class="serie-list">

        <div class="serie-title-netflix">
            <h1>Netflix</h1>
        </div>

        {% for series in seriesnetflix %}

        <div class="serie-object-container">
            <div class="serie-object">
                <img class="serie-object-img" width="400px" height="300px" src="{{ series.photo }}" alt="">
                <div class="serie-object-data">
                    <h5>{{ series.title }}</h5>
                    <p>IMDB {{ series.qualification }}</p>
                </div>
                <div class="serie-object-button">
                    <a href="{% url 'detallenetflix' series.id %}"><button>Leer más</button></a>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
    <div class="serie-button">
        <a href="{% url 'listanetflix' %}"><button>Registro</button></a>
    </div>

</div>

{% endblock %}