{% extends "home.html" %}

{% load static %}

{% block contenido %}

<div class="serie-container">

    {% if netflixseries %}

    <div class="serie-list">

        <div class="serie-title-search">
            <h1>Resultado de búsqueda</h1>
        </div>
        
        {% for serie in netflixseries %}

        <div class="serie-object-container">
            <div class="serie-object">
                <img class="serie-object-img" width="400px" height="300px" src="{{ serie.photo }}" alt="">
                <div class="serie-object-data">
                    <h5>{{ serie.title }}</h5>
                    <p>IMDB {{ serie.qualification }}</p>
                    <p class="serie-object-id">{{ serie.id }}</p>
                </div>
            </div>
        </div>

        {% endfor %}
        
    </div>

    {% else %}

    <div class="noresults">
        <h2>NO SE ENCONTRARON SERIES DE NETFLIX</h2>
    </div>
    
    {% endif %}

    <div class="serie-button">
        <a href="{% url 'netflix' %}"><button>Volver</button></a>
    </div>

</div>

{% endblock %}