{% extends "home.html" %}

{% load static %}

{% block contenido %}

<div class="serie-container">

    <div class="aboutus-box">
        <h3 class="aboutus-titleapp">Somos RecommendingTV</h3>
        <div class="aboutus-contentapp">
            <p class="aboutus-textapp">Te damos la bienvenida a este espacio dedicado en exclusiva a las series de televisión, el cual está conformado por un grupo de desarrolladores apasionados por el producto por excelencia que presentan las principales plataformas digitales. Nuestro objetivo se basa no sólo en informarte sobre las series más recientes, las más aclamadas y/o mejor puntuadas, sino también en generar un canal de comunicación en el que podamos compartir de forma retroactiva todo tipo de consejos y conocimientos.</p>
            <img class="aboutus-img" width="400px" height="300px" src="/media/images/recommending-img.png" alt="recommending-img">
        </div>
        <h5 class="aboutus-titleadmin">Administradores</h5>
        <div>
            <h6 class="aboutus-admin1">Bernardita Fernández</h6>
            <p class="aboutus-textadmin1">Soy estudiante de programación en CoderHouse. Suelo disfrutar de la soledad, aunque lo que más me gusta es pasar el tiempo con mi familia y amigos. Soy una persona simpática, con la que siempre te vas a encontrar un diálogo facilitado y de mente abierta. Recurro al gimnasio o a caminar con mi perra para distraerme de problemas que puedan llegar a presentarse.</p>
            <h6 class="aboutus-admin2">Brian Catrini</h6>
            <p class="aboutus-textadmin2">Licenciado en Ciencias de la Comunicación y Desarrollador Front-End. Seriéfilo por naturaleza, disfruto maratonear series de cualquier género, especialmente las comedias. Mis favoritas son Game of Thrones y The Office. En segundo plano, me apasiona mirar deportes como el fútbol y el tenis asi como también viajar y escuchar toda clase de música.</p>
        </div>
    </div>
    
</div>

{% endblock %}